<div>
	<h1>Contact Information</h1>
    <section>
      <h2>Contact Details</h2>
        <p>If you have any questions on why and how this app was made, please don't hesitate to contact me.</p>
    </section>    
    <section>
      <h2>Contact Information</h2>
        <ul>
          <li>Twitter</li>
          <li>Facebook</li>
          <li>Mail</li>
          <li>Phone</li>
        </ul>
    </section>
</div>
