<div class="wrapper">
	<h1>Welcome to Acquaintnote</h1>

	<p>Many of us meet a lot of new people and add them to social media accounts. However, it can be hard to keep track and remember where and how you met all of those people and stay connected.
   	</p>  
   	<p> 
    	Aquaintnote lets you take notes about new aquaintance to help remember. Also, you can make reminders so that you actually remember to reach back.
   	</p>
   	<p id="signup">Sign up with Twitter 
   	<%= image_tag "twitter_logo.jpeg", :class => "signup-icon" %></p>
</div>

	

