<h1>Friends</h1>

<h3><%= link_to "Create new contact ", friends_new_path %></h3>

<table>
  <tr>
    <th>Name</th>
    <th>Note</th>
  </tr>

  <% @friends.each do |friend| %>
    <tr>
      <td><%= friend.name %></td>
      <td><%= friend.note %></td>
    </tr>
  <% end %>
</table>
