@import "bootstrap-sprockets";
@import "bootstrap";

/*******************
GENERAL
*******************/

.wrapper {
	padding: 80px 0 0 0;
	margin: 40 0 0 40px;
	max-width: 800px;
  margin: 0 auto;
  padding: 0 5%;
}

.wrapper h1 {
	text-align: center;
}

h1 {
	color: gray;
	padding: 0 0 20px 0;
}

a {
	text-decoration: none;
}

/*******************
HEADER
*******************/


header {
	float: left;
	margin: 0 0 40px 0;
	padding: 5px 0 0 0;
	width: 100%;
	background-color: pink;
	border-color: navy;
}

#logo {
	
}


/*******************
NAVIGATION
*******************/

nav {
	text-align: center;
	padding: 10px;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}



/*******************
FOOTER
*******************/

footer {
	font-size: 0.95em;
	text-align: center;
	clear: both;
	padding-top: 20px;
	color: #000;
	background-color: pink;
}

/*******************
PAGE: HOME
*******************/

.signup-icon {
	width: 30px;
	height: 30px;
}

#signup {
	text-align: center;
}


/*******************
PAGE: CONTACT
*******************/

.contact-info {
	
}


