@import "bootstrap-sprockets";
@import "bootstrap";

/*******************
HEADER
*******************/

.header-cont {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.header-cont > * {
  padding-bottom: 2px;
  padding-left: 10px;
}

header {
  position: relative;
	height: 50px;
	background: turquoise;
	border: 1px solid #CCC;
  width: 100%;
	margin: 0px auto;
  top: 0px ;
}

/*******************
LOGO
*******************/

header ul {
  list-style: none;
}

#logo {
	float: left;
	overflow: auto;
  font-size: 1.3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

#logo:hover {
	text-decoration: none;
}

/*******************
NAVIGATION
*******************/

header nav {
  float: right;
}

nav ul {
	list-style: none;
  margin: 0;
}

nav li {
	display: inline-block;
  padding-bottom: 0;
}

nav a {
	font-weight: 600;
	padding: 15px 10px;
	color: #fff;
	text-transform: uppercase;
}

nav a:hover {
	text-decoration: none;
	color: #fff;
}


/*******************
FOOTER
*******************/

.footer-cont {
  widht: 100%;
  bottom: 0px;
  left: 0;
}

.footer-cont > * {
  padding-top: 20px;
  padding-left: 10px;
}

footer {
	height: 50px;
  width: 100%;
  margin: 0px auto;
	font-size: 0.75em;
  text-align: center;
	background: turquoise;
  border: 1px solid #CCC;
}

/*******************
PAGE: HOME
*******************/

.signup-icon {
	width: 30px;
	height: 30px;
}

#signup {
	text-align: center;
}


/*******************
GENERAL
*******************/

.wrapper {
  background: #F0F0F0;
  padding: 80px 0 0 0;
  margin: 70px 0 0 70px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 5%;
  text-align: center;
  height: auto;
}

.wrapper h1 p {
  text-align: center;
}


h1 {
  color: gray;
  padding: 0 0 20px 0;
}


a {
  text-decoration: none;
}

body {
}


/*******************
PAGE: CONTACT
*******************/

.contact-info {}


